[Unit]
Description=TOTP http server (PurePython)

[Service]
Type=simple
ExecStart=%h/.ddns/totp.pyz --config %h/.ssh/totp.json
ExecReload=/usr/bin/bash -c "kill -s SIGHUP $MAINPID"
WorkingDirectory=%h/.ddns

[Install]
WantedBy=default.target
